* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}
h1 {
  color: hsl(0, 0%, 95%);
  margin-bottom: 2rem;
}
button {
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 20px;
  width: 15vh;
  padding: 10px 0px;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: #fff;
}


img {
  margin-bottom: 1.5rem;
}

.first-task {
  justify-content: center;
  display: flex;
  margin: 18vh auto;
}

.first {
  background-color: hsl(31, 77%, 52%);
  padding: 5vh 5vh;
}
.first button {
  color: hsl(31, 77%, 52%);
}
.first .button:active{
  background-color: hsl(31, 77%, 52%);
  color: #fff;
  border: 1px solid #fff;
}


.second {
  background-color: hsl(184, 100%, 22%);
  padding: 5vh 5vh;
}
.second button {
  color: hsl(184, 100%, 22%);
}
.second .button:active{
  background-color: hsl(184, 100%, 22%);
  color: #fff;
  border: 1px solid #fff;
}



.third {
  background-color: hsl(179, 100%, 13%);
  padding: 5vh 5vh;
}
.third button {
  color: hsl(179, 100%, 13%);
}
.third .button:active{
  background-color: hsl(179, 100%, 13%);
  color: #fff;
  border: 1px solid #fff;
}



/* styling for second task begins here */
#Grid {
  background-color: #1a1c28;
  flex: none;
}
.second-task {
  margin: 2vh 5vh;
}

.first-column {
  display: flex;
}
.first-column .first-row {
  background-color: #eb5020;
  width: 65vh;
  height: 25vh;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
}
.first-column .second-row {
  background-color: #ffa401;
  width: 35vh;
  height: 25vh;
}

.second-column {
  display: flex;
}
.second-column .first-row {
  background-color: #05aa42;
  margin-right: 0.7rem;
  width: 45vh;
  height: 35vh;
}

.second-column .second-row .yes {
  background-color: #01aefd;
  margin-bottom: 0.7rem;
  width: 55vh;
  height: 16.7vh;
}
.second-column .second-row .no {
  background-color: #01aefd;
  width: 55vh;
  height: 16.7vh;
}


header button a{
  text-decoration: none;
}
header button{
  margin: 0;
}